.newTask {
  display: flex;
  justify-content: center;
  margin-top: -1.5rem;
  height: 3.25rem;
}

.newTask input {
  
  color: var(--grey-100);
  background-color: var(--grey-500);
  flex: 9;
  border-radius: 8px;
  border: 0;
  margin-right: 0.5rem;
  font-weight: normal;  
}

.newTask button {
  display: flex;
  justify-content: center;
  color: var(--grey-100);
  background-color: var(--blue-dark);
  width: 90px;
  
  border-radius: 8px;
  cursor: pointer;
  border: 0;
  align-items: center;
  transition: background-color 0.1s;
}

.newTask button:hover {
  background-color: var(--blue);
}
